/*----------全体の設定----------*/
html {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ";
    font-weight: 900;
}
body {
    display: flex;
    flex-direction: column;
}
/*----------題、目次の設定----------*/
/*題の設定*/
h1 {
    border: solid 5px;
    text-align: center;
    padding: 10px;
}
/*目次全体*/
#contents {
    border: solid 4px;
    text-align: center;
}
/*今開いているページ*/
#bor {
    padding: 2px;
    border: solid 1px black;
    margin: 4px 4px;
}
/*今開いていないページ*/
#nbor {
    padding: 2px;
    margin: 5px 5px;
}

/*----------nav部分の設定----------*/
nav {
    margin: 10px auto;
    width: 800px;
    border: solid 10px;
    padding: 0px 70px;
    order: 1;
}
nav > ul {
    margin:0;
    float: left;
    padding:0;
    list-style: none;
}
nav > ul >li {
    margin: 5px;
    padding: 5px;
    float: left;
}
#navani_player {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ";
    font-weight: 900;
    border: none;
    margin: 5px;
    width: 150px;
    height: 50px;
    background-color:#dddddd;
}
/*----------maincontent部分の設定----------*/
#maincont {
    clear: both;
    width: 800px;
    margin: 10px auto;
    padding: 10px 70px 0px;
    border: solid 10px;
    order: 2;
}
/*----------sectionmain部分の設定----------*/
#sectionmain {
}
#prevnext {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-top: solid 1px gray;
}
#prevlink {
    margin: 10px;
    width: 250px;
}
#homelink {
    margin: 10px;
    width: 250px;
}
#nextlink {
    margin: 10px;
    width: 250px;
}
/*----------フッターの設定----------*/
footer {
    padding: 10px;
    clear: both;
    border-top: solid 1px gray;
    text-align: center;
}
